# app & platform env
.env
app.env
.npmrc
.yarnrc.yml
.yarn

# Secrets
env.d/charts.d/templates/secrets-*.yaml
env.d/secrets.d/*
!env.d/secrets.d/.gitkeep
!env.d/secrets.d/server-ext.cnf

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Sentry Auth Token
.sentryclirc
